#main {
    display: flex;
    width: 100vw;
    
    flex-direction: column;

}

#img-div {
    display: flex;
    justify-content: center;
    background-image: url(images/sassy_milton.jpg);
    background-size: cover;
    height: 850px;
}

#title {
   color: antiquewhite;
   align-self: flex-end;
   font-size: 48px;
   margin-bottom: 15%;

}

#tribute-info {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}

#tribute-info h2 {
    color: black;
    font-size: 36px;
}

#tribute-info p {
    margin-top: 25px;
    font-size: 18px;
}

#examples {
display: flex;
width: 100vw;
background-color: bisque;
}

#card {
display: flex;
flex-direction: column;
width: 30vw;
min-height: 450px;

justify-content: center;
padding: 10px;
}


img {
    border: 3px solid black;
    background-color: white;
    padding: 25px;
}

figcaption  {
    align-self: center;
}

#together {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 95vw;
height: 450px;
padding: 2%;
margin: 2%;
}

#together img {
    width: 600px;
}

#together p {
    width: 50vw;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 350px;
    padding: 0 50px;
}

#tribute-link ul {
text-decoration: none;
list-style: circle;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 45px;
    padding: 10px;
}