#main {
    display: flex;
    width: 100vw;
    height: 1012px;
    flex-direction: column;

}

#img-div {
    display: flex;
    justify-content: center;
    background-image: url(images/sassy_milton.jpg);
    background-size: cover;
    height: 100%;
}

#title {
   color: antiquewhite;
   align-self: flex-end;
   font-size: 48px;
   margin-bottom: 15%;

}

#tribute-info {
    display: flex;
    height: 300px;
    justify-content: center;
}

#tribute-info h2 {
    color: black;
    font-size: 21px;
    margin-bottom: 25px;
}

#tribute-info p {
    margin-top: 25px;
    font-size: 14px;
}